@using System.Globalization
@using System.Linq
@model WebCrawler.Models.StatisticModel
@{
    ViewBag.Title = "Crawler";
}

<div class="info-form">
    <div class="statistic">
        <h1>Статистика</h1>
        <div class="content">
            <table width="100%">
                <tr>
                    <td width="50%">Сейчас в базе:</td>
                    <td width="50%">@Model.RecordsCount записей</td>
                </tr>
                <tr>
                    <td>Последнее обновление:</td>
                    <td>@Model.LastUpdateTime.ToLongDateString() в @Model.LastUpdateTime.ToShortTimeString()</td>
                </tr>
                <tr>
                    <td>Информация о группе:</td>
                    <td>@Model.GroupName</td>
                </tr>
                <tr>
                    <td>Ссылка на группу:</td>
                    <td><a href="@Model.GroupUrl">@Model.GroupUrl</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="table-details">
        <h1>Подробно</h1>
        <div class="content">
            <table width="100%">
                <tr>
                    <th>Время</th>
                    <th>Подписчиков</th>
                </tr>
                @foreach (var record in Model.Records.Reverse())
                {
                    <tr>
                        <td style="text-align: center">@record.UpdatingTime.ToString("dd MMMM в HH:mm",CultureInfo.CreateSpecificCulture("ru-RU"))</td>
                        <td style="text-align: center">@record.MembersCount</td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>