@using System.Globalization
@using System.Linq
@model WebCrawler.Models.StatisticModel
@{
    ViewBag.Title = "Crawler";
}

<div class="info-form">
    <div class="block">
        <h1>Статистика</h1>
        <div class="content">
            <table width="100%">
                <tr>
                    <td width="50%">Сейчас в базе:</td>
                    <td width="50%">@Model.RecordsCount записей</td>
                </tr>
                <tr>
                    <td>Последнее обновление:</td>
                    <td>@Model.LastUpdateTime.ToString("dd MMMM в HH:mm", CultureInfo.CreateSpecificCulture("ru-RU"))</td>
                </tr>
                <tr>
                    <td>Информация о группе:</td>
                    <td>@Model.GroupName</td>
                </tr>
                <tr>
                    <td>Ссылка на группу:</td>
                    <td>
                        <a href="@Model.GroupUrl">@Model.GroupUrl</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="block">
        <h1>Подробно</h1>
        <div class="content">
            <table class="table-details">
                <tr>
                    <th>Время</th>
                    <th>Подписчиков</th>
                </tr>
                @for (var i = 0; i < Model.RecordsCount - 1; i++)
                {
                    <tr>
                        <td>@Model.Records[i].UpdatingTime.ToString("dd MMMM в HH:mm", CultureInfo.CreateSpecificCulture("ru-RU"))</td>
                        <td>
                            @Model.Records[i].MembersCount
                            @if (Model.Records[i].Delta > 0)
                            {
                                <span class="up">(+@Model.Records[i].Delta)</span>
                            }
                            else if (Model.Records[i].Delta < 0)
                            {
                                <span class="down">(@Model.Records[i].Delta)</span>
                            }
                            else
                            {
                                <span>(+@Model.Records[i].Delta)</span>
                            }
                        </td>
                    </tr>
                }
                <tr>
                    <td>@Model.Records.Last().UpdatingTime.ToString("dd MMMM в HH:mm", CultureInfo.CreateSpecificCulture("ru-RU"))</td>
                    <td>@Model.Records.Last().MembersCount</td>
                </tr>
            </table>
        </div>

    </div>
</div>